#me{
    background-image: url(images.jpg);
    background-size: cover;
}
#birthday{
    background-image: url(nifemiii.jpg);
    background-size: cover;
}
#life{
    background-image: url(felicia.png);
    background-size: cover;
}