nav,
header,
footer{
    display: block;
}
body{
    line-height: 1;
    margin: 0;
}


label{
    font-size: 35px;
    font-weight: 600px;
}

p{
    font-size: 28px;
    line-height: 1.2;

}

article p{
    font-size: 35px;
    padding: 20px;
}
.container{
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.row::after{
    display: table;
    clear: both;
    content: "";
} 
    nav ul{
        background-color: black;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    ul.topnav li{
        list-style: none;
        float: left;
    }
    ul.topnav-right {
        float: right;
        list-style-type: none;
    }
ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: deepskyblue;
}
ul.topnav li a:hover{
    background-color: blue;
    color: ghostwhite;
}
ul.topnav li.dropdown{
    display: none;
}
h1{
    background: orangered;
    
}



